Repository amanimmortal/AVNCodex, changes with the labels that .github/labeler.yml gives for each.
All labels: database, component, language, documentation, backend, frontend, critical

.github/labeler.yml:

database: app/db/**/*
component: app/src/components/**/*

resources:
- any: ['resources/**/*']
  all: ['!resources/lang/*']
language: resources/lang/*
documentation: docs/**/*

backend:
  - app/**/*.py
  - app/main.py
  - f95apiclient/**/*
  - requirements.txt
  - Dockerfile
  - docker-compose.yml
  - docker-compose.windows.yml

frontend:
- any: ['app/src/**/*.html', 'app/src/**/*.css']

critical:
    - '(critical|urgent)'

added dev docker compose
  docker-compose-dev.yml
Labels: none

Store admin status in session during user login
  app.py
Labels: none

Add scraping logic for missing game details during addition and updates
  app/main.py
Labels: backend

Add environment variable for Playwright browser path in Dockerfile
  Dockerfile
Labels: backend

Enhance author extraction logic in game data scraping
  app/f95_web_scraper.py
Labels: backend

Enhance login and scraping logic in f95_web_scraper
  app/f95_web_scraper.py
Labels: backend

Refactor login and scraping logic in f95_web_scraper
  app/f95_web_scraper.py
Labels: backend

Refactor app initialization and Docker configuration
  Dockerfile
  app.py
  docker-compose-dev.yml
  docker-compose.yml
Labels: backend

Add custom environment file support in Docker Compose
  config.env
  docker-compose-dev.yml
  docker-compose.yml
Labels: backend

Update .gitignore to include Python virtual environment and ensure data directory is ignored
  .gitignore
Labels: none

Update .gitignore to include IDE-specific folders
  .gitignore
Labels: none

Enhance game status update logic and add debug print statement
  app.py
  app/main.py
Labels: backend

Fix parameter order in game details retrieval and enhance logging in f95_web_scraper
  app.py
  app/f95_web_scraper.py
  app/main.py
Labels: backend

Enhance background sync functionality and logging
  app.py
  app/main.py
Labels: backend

Enhance login logic in f95_web_scraper to check for existing session
  app/f95_web_scraper.py
Labels: backend

Add logging for game details and update handling
  app.py
  app/main.py
Labels: backend

Correct f-string formatting in logging statements and enhance title inference in f95_web_scraper
  app.py
  app/f95_web_scraper.py
  app/main.py
Labels: backend

Enhance game data extraction in f95_web_scraper with fallback parsing
  app/f95_web_scraper.py
Labels: backend

Enhance fallback parsing in full_description for game data extraction
  app/f95_web_scraper.py
Labels: backend

Enhance game data extraction in f95_web_scraper with improved login verification and download link extraction
  app/f95_web_scraper.py
Labels: backend

Enhance debug screenshot functionality in f95_web_scraper
  app/f95_web_scraper.py
Labels: backend

Refactor login handling and enhance logging in extract_game_data
  app/f95_web_scraper.py
Labels: backend

Enhance error handling and logging in F95ApiClient retry mechanism
  f95apiclient/__init__.py
Labels: backend

Enhance login verification and navigation in extract_game_data
  app/f95_web_scraper.py
Labels: backend

Refactor login handling in f95_web_scraper for improved verification and navigation
  app/f95_web_scraper.py
Labels: backend

Enhance screenshot functionality in f95_web_scraper during login process
  app/f95_web_scraper.py
Labels: backend

Enhance author extraction and data parsing in extract_game_data
  app/f95_web_scraper.py
Labels: backend

Refactor author extraction logic in extract_game_data
  app/f95_web_scraper.py
Labels: backend

Enhance login verification and error handling in f95_web_scraper
  app/f95_web_scraper.py
  docs/Logic_notes.txt
  docs/scraper_findings.txt
Labels: documentation, backend

Refine regex patterns and improve button interaction in extract_game_data
  app/f95_web_scraper.py
Labels: backend

Enhance data extraction in extract_game_data function
  app/f95_web_scraper.py
Labels: backend

Enhance data extraction logic in extract_game_data function
  app/f95_web_scraper.py
Labels: backend

Refactor data extraction in app.py and f95_web_scraper.py
  app.py
  app/f95_web_scraper.py
Labels: backend

feat: Add rotating file and console logging configuration with log directory creation.
  app/__pycache__/logging_config.cpython-310.pyc
  app/__pycache__/services.cpython-310.pyc
  app/logging_config.py
  app/services.py
  app/templates/index.html
  f95apiclient/__init__.py
  f95apiclient/__pycache__/__init__.cpython-310.pyc
  logs/update_checker.log
Labels: backend

feat: Implement F95zone web scraping, game detail editing UI, and associated data and service layers.
  RSS_FEED_INFO.md
  app/__pycache__/database.cpython-310.pyc
  app/__pycache__/f95_web_scraper.cpython-310.pyc
  app/__pycache__/services.cpython-310.pyc
  app/database.py
  app/f95_web_scraper.py
  app/services.py
  app/templates/edit_game.html
  f95apiclient/__init__.py
  f95apiclient/__pycache__/__init__.cpython-310.pyc
  logs/update_checker.log
Labels: backend

feat: Implement F95 web scraping, add new services for game data management, introduce a game editing UI, and enhance logging while removing an old refactor script.
  app/__pycache__/f95_web_scraper.cpython-310.pyc
  app/__pycache__/services.cpython-310.pyc
  app/f95_web_scraper.py
  app/services.py
  app/templates/edit_game.html
  bulk_result.txt
  debug_scrape.log
  logs/update_checker.log
  run_app.py
  verify_refactor.py
Labels: backend

feat: Implement initial core application templates and styling, including user management, game search, and editing interfaces.
  app/static/style.css
  app/templates/admin_users.html
  app/templates/base.html
  app/templates/change_password.html
  app/templates/edit_game.html
  app/templates/index.html
  app/templates/login.html
  app/templates/register.html
  app/templates/search.html
  app/templates/settings.html
  logs/update_checker.log
Labels: none

feat: Add F95 API client module and proxy cache resource.
  f95apiclient/__init__.py
  f95apiclient/__pycache__/__init__.cpython-310.pyc
  logs/update_checker.log
  resources/proxy_cache.json
Labels: backend

feat: Add F95 API client module and proxy cache resource.
  logs/update_checker.log
Labels: none

feat: Add detailed logging for the update checker, scheduler, database, and notification services.
  logs/update_checker.log
  run_app.py
Labels: none
